djangoarticleapp/.vscode
djangoarticleapp/.venv
djangoarticleapp/djangoarticleapp/migrations/__pycache__*
djangoarticleapp/djangoarticleapp/__pycache__*
djangoarticleapp/articleApp/__pycache__*
djangoarticleapp/articleApp/migrations/__pycache__*
provision/ssh_key.pem
provision/.ansible_old
provision/terraform/.terraform
provision/terraform/.terraform.lock.hcl
djangoarticleapp/.DS_Store
provision/exports.sh
provision/k8s-manifests-app
.ansible-lint
.ansible*
.vscode*
aws_commands
filebeat-default-values.yml
provision/ansible/test.yml
provision/terraform/terraform.tfstate.backup
provision/terraform/terraform.tfstate
provision/terraform/delete_s3_files.sh
get_tf_files_and_destroy_remote_resources.sh
get_tf_files.sh
provision/terraform/inventory.ini
provision/ansible_logs/*
provision/ansible/ssh_key.pem
provision/ansible/inventory.ini
provision/ansible/quick_tests.yml
provision/helm/djangoarticleapp/templates/def1*
provision/helm/cluster-resources*
provision/terraform/.terraform.tfstate.lock.info
provision/terraform/output*
provision/DevOpsApp.code-workspace
provision/djangoarticleapp*
scripts/ssh_key.pem
.DS_Store
terraform.tfstate
__gitlab-ci*.yml
temp_aws_resources*
Idea_New.md