db.sqlite3
*.pem
.vscode
.terraform
.terraform.lock.hcl
provision/ssh_key.pem
provision/ansible_old
provision/.terraform
provision/.terraform.lock.hcl
provision/ansible_logs
provision/exports.sh
.ansible-lint
terraform.tfstate