apiVersion: apps/v1
kind: Deployment
metadata:
  name: locust-master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: locust
      role: master
  template:
    metadata:
      labels:
        app: locust
        role: master
    spec:
      nodeSelector:
        node-type: locust
      containers:
      - name: locust
        image: locustio/locust
        env:
        - name: LOCUST_TARGET_HOST
          value: http://{{ alb_dns }}
        ports:
        - containerPort: 8089
        volumeMounts:
        - name: locustfile
          mountPath: /mnt/locust
        command: ["sh", "-c", "locust -f /mnt/locust/locustfile.py --host $LOCUST_TARGET_HOST"]
      volumes:
      - name: locustfile
        configMap:
          name: locustfile-config
