apiVersion: apps/v1
kind: Deployment
metadata:
  # this is related to the type of yaml file. i.e.: djangoarticleapp-deployment, djangoarticleapp-pod etc.
  name: {{ include "djangoarticleapp.fullname" . }}
  # labels is a dictionary
  labels:
    app: {{ include "djangoarticleapp.name" . }}
    type: fullstack
# applies to the Deployment object as a whole (defining things like the number of replicas and the selector for matching pods)
spec:
  replicas: {{ .Values.django.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: {{ include "djangoarticleapp.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "djangoarticleapp.name" . }}
    # Defines the Pod specification, detailing how each pod should be configured (including containers, node selectors, resource requests, etc.)
    spec:
      nodeSelector:
        node-type: worker
      imagePullSecrets:
      - name: gitlab-registry
      containers:
      - name: web
        image: "{{ .Values.django.image.repository }}:{{ .Values.django.image.tag }}"
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Values.django.containerPort }}
        envFrom:
        - configMapRef:
          name: django-config
        readinessProbe:
          httpGet:
            path: {{ .Values.django.readinessProbe.path }}
            port: {{ .Values.django.readinessProbe.port }}
          initialDelaySeconds: 60
          periodSeconds: 5
          failureThreshold: 3
        # livenessProbe:
        #   httpGet:
        #     path: /
        #     port: 8000
        #   initialDelaySeconds: 40
        #   periodSeconds: 20
