{{- if .Values.createGitlabRegistrySecret }}
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-registry
  namespace: default
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ .Values.docker_config | toJson | b64enc | quote }}
{{- end }}