filebeatConfig:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log
    # Send logs directly to Elasticsearch:
    output.elasticsearch:
      hosts: ["https://elasticsearch-master.logging.svc.cluster.local:9200"]
      username: "elastic"
      password: "{{ elastic_password }}"
      ssl.verification_mode: "none"
    # Or send logs through Logstash:
    # output.logstash:
    #   hosts: ["logstash.logging.svc.cluster.local:5044"]
